<% layout(("/layouts/boilerplate.ejs")) %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <h3>edit a new Listing</h3>
                <form novalidate class="needs-validation" enctype="multipart/form-data" method="post" action="/listings/<%=listing._id %>?_method=PUT">
                    <div class="mb-3" >
                        <label for="title" class="form-lable">Title</label>
                        <input required name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" >

                    </div>
                    <div class="mb-3" >
                        <label for="description" class="form-lable">Description</label>
                        <textarea required class="form-control" name="listing[description]"><%= listing.description %></textarea>

                    </div>
                    <div class="mb-3" >
                        <p>Orignal listing image</p>
                    <img style="height: 30vh;" src="<%= originalImageUrl %>" alt="">
                    </div>
                    <div class="mb-3" >
                        <label for="image" class="form-lable">Upload new Image</label>
                        <input name="listing[image]"  type="file"
                            class="form-control" />
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4 mb-3" >
                            <label for="price" class="form-lable">Price</label>
                            <input required name="listing[price]" value="<%= listing.price%>" type="number" class="form-control" >
                            <div class="invalid-feedback">Price should be valid</div>
                        </div>
                        <div class="col-md-8 mb-3" >
                            <label for="country" class="form-lable">Country</label>
                            <input required name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" >
                            <div class="invalid-feedback">country should be valid</div>
                        </div>
                    </div>
                    
                    <div class="mb-3" >
                        <label for="location" class="form-lable">Location</label>
                        <input required name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" >
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>


                    <button class="btn btn-dark mb-3">Edit</button>
                </form>
            </div>
        </div>
    </body>